img{
    height: 200px;
}
button {
    width: 400px;
    height: 200px;
}

#melancia {
    background-image: url(img/Melancia.png);
    background-repeat: no-repeat;

}
#kiwi {
    background-image: url(img/Kiwi.png);
    background-repeat: no-repeat;

}
#maçã {
    background-image: url(img/Maca_fuji2.png);
    background-repeat: no-repeat;

}